
.Carousel{
position:absolute;
top:870px;
height:700px;}
h3{
    color:#ffffff;
}

.carousel-item{
height:680px;
}
 .List>a>li{
display: inline;
margin :0px 20px;
font-family: Roboto; 
font-size: 20px;
color:white;
}
.List>a:hover{
    color:rgba(255, 255, 255, 0);
}


.icon {
 font-size:50px;
margin:0px 10px;
}

.center{
    margin:auto;
    font-size:10px;
    text-align: center;
}
.CarouselLinks:hover{
    text-decoration: none;
    color:white;
}
.CarouselLinks{
    color:white;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.NewsFooter{
    position: absolute;
    width: 1360px;
    height: 302px;
    left: 0px;
    top :1800px;
}
.HomeFooter{
    position: absolute;
    width: 1360px;
    height: 302px;
    left: 0px;
    top :1600px;
}
.Link{
    color:black;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;

}
.Link:hover{
    text-decoration: none;
    color: #54416D;
}
.Table{
    
    position: absolute;
    top:20px;
    left:0;
    width:1330px;
    margin:auto;
    height:200px;
}
.TableElements{
color:#54416D;
text-align: center;
}
.Align{
    font-size:30px;
    padding:3% 8%;
}
.TextAlign{
text-align: Left;
padding-top:20%;
}
.Align:hover{
text-decoration: none;
color:#54416D   
}
.carousel-caption{
top: 5px;}